!! Appearance

!! For dynamic-colors to work with... (https://github.com/sos4nt/dynamic-colors)
xterm*dynamicColors: true
urxvt*dynamicColors: on

URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
!!URxvt.background: #646464 
URxvt.background: #282c34
URxvt.foreground: #ececec

!! Font prefferenes
URxvt*font: xft:Source Code Pro Medium:size=12 
!URxvt*font: xft:DejaVu Sans Mono, xfc:Noto Emoji,:size=12
!!URxvt*font: xft:DejaVu Sans Mono, xfc:Noto Emoji,:size=12
URxvt.letterSpace: -1

!! Larger history limit
URxvt.saveLines: 1000000

!! Perl extensions
URxvt.perl-ext-common: default,matcher,font-size

!! Open urls in browser with Control-Click
URxvt.urlLauncher: /usr/bin/firefox
URxvt.matcher.button: C1

!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.keysym.Control-equal: perl:font-size:increase

!! Yeah, I am one of those, who use these keys in Vim :-(
URxvt.keysym.Home:          \033[1~
URxvt.keysym.End:           \033[4~
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!! Tango color theme
!! Strange - it matches tango from gnome-terminal, but looks different
URxvt.color0: rgb:00/00/00
URxvt.color1: rgb:CC/00/00
URxvt.color2: rgb:4E/9A/06
URxvt.color3: rgb:C4/A0/00
URxvt.color4: rgb:34/65/A4
URxvt.color5: rgb:75/50/7B
URxvt.color6: rgb:06/98/9A
URxvt.color7: rgb:D3/D7/CF
URxvt.color8: rgb:55/57/53
URxvt.color9: rgb:EF/29/29
URxvt.color10: rgb:8A/E2/34
URxvt.color11: rgb:FC/E9/4F
URxvt.color12: rgb:72/9F/CF
URxvt.color13: rgb:AD/7F/A8
URxvt.color14: rgb:34/E2/E2
URxvt.color15: rgb:EE/EE/EC
URxvt.colorBD: rgb:ff/ff/ff
!! URxvt.transparent:	true
!! URxvt.shading:	    95 #00ff00
!!URxvt*depth: 92
!!URxvt*background: rgba:0000/0000/0200/c800

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard


!!*background: #fdf6e3
*foreground: #839496

*fadeColor: #fdf6e3
*cursorColor: #586e75
!! *pointerColorBackground: #93a1a1
*pointerColor: #586e75

!! black dark/light
*color0: #eee8d5
*color8: #fdf6e3

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #93a1a1

!! yellow dark/light
*color3: #b58900
*color11: #839496

!! blue dark/light
*color4: #268bd2
*color12: #657b83

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #586e75

!! white dark/light
*color7: #073642
*color15: #002b36

!! Space betwen content and edge of window
URxvt.internalBorder: 20
